.cards {
  /* position: relative; */
  /* display: grid;
  max-width: 40rem; */
  /* column-count: 4;
  padding: 1em; */
  display: flex;
  flex-wrap: wrap;
  /* margin: 40px auto;
  margin-top: 50px;
  columns: 4;
  column-gap: 10px; */
  /* gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry; */
  /* border: 1px solid black; */
  /* padding-left: 25px; */
}
.noteCard {
  margin: 10px;
  z-index: 11;
}
.mason {
  padding: 20px 20px 70px 20px;
}
/* .mason {
  max-height: 500px;

  overflow-x: scroll;
} */
.mason::-webkit-scrollbar {
  display: none;
}
